
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#222}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#222}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}

/* ---- LAYOUT ---- */
.blind{display:none;visibility:hidden}
/* .inactive{visibility:hidden} */
.section{
    position:relative;
    height:auto
}
.section .sticky-container{
    height:100vh
}
.section .sticky-container .sticky{
    overflow:hidden;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    height:100vh
}
.section:nth-child(1){
    z-index:10
}
.section:nth-child(2){
    margin-top:-100vh
}
.section:nth-child(2) .sticky-container{
    height:200vh
}
.section:nth-child(3) .sticky-container{
    /* height: ?; */
    height:500vh
}

.gallery{
    position:relative;
    height:100vh
}
.gallery .gallery-item{
    position:absolute;
    top:0;
    height:100vh;
    opacity:0
}
.gallery .gallery-item:first-child{
    opacity:1
}
.gallery .gallery-item:nth-child(1){
    z-index:2
}
.gallery .gallery-item:nth-child(2){
    z-index:3
}
.gallery .gallery-item:nth-child(3){
    z-index:4
}
.section .image-area{position:relative;width:100%;height:100%}
.section .image-area img{display:inline-block;width:100%;height:100%;vertical-align:top;object-fit:cover}
.section .text-area{position:absolute;top:50%;right:0;left:0;margin-top:-55px;text-align:center;color:#fff;font-weight:700}
.section .text-area .title{font-size:50px;line-height:60px}
.section .text-area .desc{font-size:24px;letter-spacing:2px;line-height:30px}
.section .text-area .title + .desc{margin-top:20px}